div{
    display: flex;
    display: table;
}
.x #a{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: url("./1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #b{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #c{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #d{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #e{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./5.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #f{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./6.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #g{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./7.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #h{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./8.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.x #i{
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-image: URL("./9.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}